<div>
    <h1>Lista de clientes</h1>
    <button class="btn btn-primary" routerLink="register">Agregar</button>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Clave</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cli of clientes">
                <th scope="row">{{ cli.clave }}</th>
                <td>{{ cli.nombre }}</td>
                <td>{{ cli.direccion }}</td>
                <td>{{ cli.telefono }}</td>
            </tr>
        </tbody>
    </table>
</div>
