<div class="jumbotron jumbotron-fluid text-justify p-5">
    <div class="container">
      <h1 class="display-4">Home Page</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, animi natus, ab consequatur, ducimus vitae consequuntur sapiente rem quod similique delectus totam enim suscipit culpa? Voluptas impedit quibusdam optio ducimus cumque perferendis quo sint magni, voluptatum error sed blanditiis itaque porro reprehenderit illum repudiandae in repellendus corrupti obcaecati nisi culpa facilis corporis. Perspiciatis labore possimus quibusdam voluptatum pariatur architecto eos sunt doloribus debitis. Exercitationem architecto et eligendi esse maxime aliquam? Id dolor fugit deserunt ullam quo sapiente eveniet nulla ut eius consequatur ab eligendi a itaque odit unde quibusdam, repellat soluta doloremque minus repudiandae blanditiis temporibus impedit. Praesentium, vitae inventore?</p>
    </div>
  </div>